html {
    font-size: 16px;
}

.menuButton{
  display:none;
}

#page {
    max-width: 1700px; 
    
    

    
}

#buffer {
    width: 100%;
    height: 100%;
    
    height: 5rem;
    
    top: 0;

}

#mainMenu {
    list-style-type: none;
    text-decoration: none;
    width: 50%;
    height: 50%;
    
    
}

#menu {
    width: 30%;
    float: left;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
    margin-left: 3rem;
    text-indent: rem;
    
}

.slideshow {
    float: right;
    display: inline;
    width: 40%;
    margin-top: 1rem;

}


#blurb {
color: gray;    
font-size: 0.6rem;
max-width: 100%;
line-height: 0.8rem;
}

a {
    color: black;
    text-decoration: none;
}

.galleryMenu {
    margin-top: 2rem;
    position: sticky;
    top: 8rem;
    margin-right: 3rem;
}

.galleryImage {
    max-width: 100%;
}
.galleryContainer {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;
    
}

.landscape {
    grid-column-end: span 2;
}
    

   





.fade {
    
         -webkit-animation-name: fade;
         -webkit-animation-iteration-count: infinite;
         -webkit-animation-duration: 5s;
         animation-name: fade;
         animation-iteration-count: infinite;
         animation-duration: 5s;
         }
     
     @-webkit-keyframes fade {
         0% {opacity: 0;}
         15% {opacity: 1;}
         25% {opacity: 1;}
         80% {opacity: 1;}
         100% {opacity: 0;}
     }
     @keyframes fade {
        0% {opacity: 0;}
        15% {opacity: 1;}
         25% {opacity: 1;}
         80% {opacity: 1;}
         100% {opacity: 0;}
     }

@media only screen and (min-width: 1px) and (max-width:1024px){

.menuButton {
  display: inline-block;
  cursor: pointer;
  float: right;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

#blurb{
    visibility: hidden;
}


#menu{
    display: none;
    z-index: 999;	
    margin: 0;
    position: fixed;
    top: 10%;
    left: 25%;
    width: 100%;
    height: 80px;
    text-align: center;
}

.galleryMenu {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .4s;
}

@keyframes fadeInOpacity {
    0% {
        opacity:0.5;
        transform:  translate(0px,10px);
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px);
    }
}

.slideshow {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
}

    
   
}

@media only screen and (max-width:500px){
.galleryContainer {
    float: none;
        padding-right: 4rem;
        display: grid;
        max-width: 50%; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, auto);
        grid-gap: 2rem;   
        align-items: center;
        justify-items: center;
    }
}
}
